/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea*
public/umd*
public/uv-assets
public/uv-dist-umd
public/uv.css
public/uv.html
public/images/svg/
cookieconsent.*
pannellum.*
