// Body
$body-bg: #a3c1ad;

// Navbar
$navbar-default-bg: #a3c1ad;
$bg-nav: #a3c1ad;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1.0rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");

$badge-font-size:                   1em;
$badge-padding-y:                   .65em;
$badge-padding-x:                   .65em;
