
.parallax {
  min-height: 450px;
  background-attachment: fixed;
  background-size: cover;
}
.absolute-bottom {
  position : absolute;
  bottom   : 0;
}
.jumbotron{
  margin-top: 30px;
  margin-bottom: 0;
}

@media screen and (max-width: 440px) {
  .head {
    padding-top: 100px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center center;
    /* display: none; */
    /* visibility: hidden; */
  }
  .second-parallax-home {
    background-position: center center;
  }
  .third-parallax-home {
    background-position: center center;
  }
  .fourth-parallax-home {
    background-position: center center;
  }
  .parallax-home {
    background-position: center center;
  }
  .hide {
    padding-top:5rem;
  }
  .division {
    text-align: center;
  }
  .shout {
    color: white!important;
    font-family: 'Lato', sans-serif;
    font-size: 2.6rem;
    font-weight: bolder;
  }
  .shout-less {
    color: white!important;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
  }
  /* .jumbotron {
  display: none;
  } */
}

footer, .chip-icon {
  background-color: #a3c1ad ;
}

.bg-black {
  background-color: #000000!important;
}
.bg-fade {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(163, 193, 173));
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #eee;

}
.shadow-sm {
  background-color: white;
}

a {
  background-color: transparent;
  color: #731100;
  text-decoration: none;
}

article {
  overflow-wrap: break-word;
  word-wrap: break-word;
}


video {
  object-fit: cover;
}

.share  a {
  color: #000;
}
.w3w a {
  color: #000;
}

.cd-nugget-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-nugget-info a {
  position: relative;
  font-size: 14px;
  color: #e86256;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.cd-nugget-info a:hover {
  opacity: .8;
}

.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}

.cd-nugget-info span svg {
  display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
  fill: #e86256;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../images/layouts/arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


.thumb-post img {
  object-fit: cover;
}

.thumb-nail {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.label-thumb {
  position: relative;
  max-width:100%;
  max-height:400px;
}

.carousel-caption {
  font-weight: bolder;
  font-size: 1.5rem;
}

.carousel-control-prev, .carousel-control-next, .carousel-indicators li {
  background-color: hsla(0, 93%, 31%, 0.98);
}
#sponsors img {
  margin-bottom: 10px;
}

.carousel-item img {
  min-width: auto;
  max-height:auto;
}

.badge-wine {
  background-color: #731200;
  color: #fff;
  padding: 10px;
}

.btn-wine {
  background-color: #731200;
  color: #fff;
  padding: 10px;
}

.max-coffins {
  max-width: 100%;
}
.share li {
  list-style: none;
  margin-left: -40px;
}

#error {
  object-fit: cover;
  width: 100%;
}

.contact .btn {
  background-color: #731200;
  color: #fff;
}

label.cm-app-label {
  color: white;
}
.btn {
  white-space:normal !important;
  word-wrap: break-word;
}
.navbar nav {
  display: inline;
}

.intro-card {
  background-color:rgba(115, 18, 0, 0.1);
}

.not-intro {
  text-align:right;
  font-size:small;
  color:#686868;
}

@media  (max-width : 440px) {
  .shorten-words {
    max-width: 300px;
    display:inline-block
  }

}


.shareTwitter a {
  color: #000;
}

.txt-intro {
  text-align:left;
  color:#686868;
}

.division {
  border-top: 1px solid maroon;
  margin-left: 10%;
  margin-right: 10%;
}
/* Progress CSS */
.progress {
  background: maroon;
  position: fixed;
  top: 3.4rem;
  bottom: auto;
  left: 0;
  width: 0%;
  height: 8px;
  z-index: 10000;
}

.fit-image {
  display: inline-block;
}
.minimum {
  min-height: 200px;
}

.audio-player {
  min-height: 60px;
}
body {
  font-size: 1.1rem;
}

@media screen and (min-width: 441px) {
  .hidden {
    display: none;
  }
}
@media screen and (min-width: 440px) {
  .shout {
    color: white!important;
    font-family: 'Lato', sans-serif;
    font-size: 5rem;
    margin-top:-1rem;
  }
  .shout-less {
    color: white!important;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
  }
}
.bg-black-opacity {
  background-color: rgba(000,0,0,0.7)!important;
}
.min-height-250 {
  min-height: 250px;
}


.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px
}

.ribbon.red {
  background-color: #bc1a3a;
  background-image: -webkit-linear-gradient(top, #a61733 45%, #bc1a3a 100%);
  background-image: -o-linear-gradient(top, #a61733 45%, #bc1a3a 100%);
  background-image: linear-gradient(to bottom, #a61733 45%, #bc1a3a 100%);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffa61733', endColorstr='#ffbc1a3a', GradientType=0)
}

.ribbon.red:before,
.ribbon.red:after {
  border-top: 3px solid #8f142c
}

.ribbon {
  font-size: 12px;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Montserrat Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .05em;
  line-height: 15px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  right: -11px;
  top: 10px;
  width: 100px;
  height: 28px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  background-color: #dedede;
  background-image: -webkit-linear-gradient(top, #ffffff 45%, #dedede 100%);
  background-image: -o-linear-gradient(top, #ffffff 45%, #dedede 100%);
  background-image: linear-gradient(to bottom, #ffffff 45%, #dedede 100%);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdedede', GradientType=0)
}

.ribbon:before,
.ribbon:after {
  content: "";
  border-top: 3px solid #9e9e9e;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px
}

.ribbon:before {
  left: 0
}

.ribbon:after {
  right: 0
}

#share {
  display: inline-block;
  float: none;
}
.covid-19 {
  background-color: #a3c1ad ;
  min-height: 50px;
  margin-top: 56px;
  color: #000;
  font-size: 1.2rem;
  padding-top: 10px;
  padding-bottom: 10px
}
.beta {
  background-color: #a3c1ad ;
  min-height: 50px;
  color: #000;
  font-size: 1.2rem;
  padding-top: 10px;
}
.white {
  color: white;
}
.carousel-pad, .map-box {
  padding-left: 0px!important;
  padding-right: 0px!important;
}
@media (min-width: 688px) {
  .carousel-item>img {
    max-height: 600px;
  }
}

.cropped-image img {
  object-fit: cover;
}

.gnw-map.fade {
  transition: opacity .15s linear;
}
.gnw-map.fade:not(.show) {
  opacity: 0;
}
a.share-click {
  color: white!important;
}

#panorama {
  width: 100%;
  height: 500px;
}

ul#floor-plans {
  list-style: none;
  display: inline-block;
  columns: 2;
  -webkit-columns: 3;
  width: 100%;
  -moz-columns: 2;
}
blockquote {
  font-size: 1.25rem;
  letter-spacing: .02em;
  line-height: 1.4;
  border-left: .3125rem solid #731200;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

@media screen and ( max-width: 440px ){
  li.page-item {
    display: none;
  }
  .page-item:first-child,
  .page-item:last-child,
  .page-item.active {
    display: block;
  }
}
.card, .shadow-sm {
  box-shadow: none!important;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  height: auto;
  max-width: 100%;
  min-height: 600px;
  line-height: 1;
  margin:auto;
  width: 100%; // Add this
}
.map {
  min-height: 400px;
  max-height: 400px;
}
a.share {
  color: black;
  decoration: underline;
}
.svg-logo {
  z-index: -1;
  float: right;
  margin-top: -6px;
}
input#query {
  background-color: #ffffff;
  color: #000000;
}
input#query::placeholder {
  color: #000;
}
.search-results {
  min-height: 200px;
}
.badge-wine {
  background-color: #731200;
  color: #fff;
}

.contents-label {
  margin-left: -13px;
  margin-top: 10px;
}
.ucam {
  margin-bottom: -40px;
  margin-top: 9px;
}

.further-info {
  margin-top: -4.125rem;
}

.frontpageQuote {
  font-size: 5rem;
  font-weight: normal;
  color: white;
  border-left:none;
}
.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 100;
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
}

.heroCaption {
  font-size: 1.3rem;
  padding: 10px 16px;
  width: 220px;
  position: absolute;
  bottom: 100%;
  top: auto;
  right: 0;
  left: auto;
  margin-bottom: 20px;
}
.parallax-home {
  margin-top: -25px;
}
.popover {
  background: black;
  color: white;
  font-size: 1.3rem;
  max-width: 100%;
}
.further-info a:hover, .further-info a:active {
  color: black;
}
.small-muted {
  color: rgba(214, 217, 207, 0.6)!important;
  font-size: 2.5rem;
  font-weight: bolder;
}
.beta a, .covid-19 a {
  color: #000;
  text-decoration: underline;
}
figcaption.figure-caption.text-right {
  font-size: 1rem;
}
.table tbody td, .table tbody th {
  font-size: 1.1rem;

}
.text-muted {
    color: rgba(0, 0, 0, 0.85)!important;
}
btn.btn.btn-wine.m-1 a {
    color: white!important;
}

span.btn.btn-wine.m-1.p-2.share a {
    color: white!important;
}

img.img-fluid.twitter {
  object-fit: cover;
  width: 308px;
  height: 308px;
}
.square-list li {
  list-style: square;
}
.container-fluid.remove {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media only screen and (max-width: 1024px) {
  .head, .parallax {
      background-attachment: scroll !important;
  }
}
@media only screen and (max-width: 768px) {
  .head, .parallax {
      background-attachment: scroll !important;
  }
}
@media (orientation: portrait) {
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: block;
        width:100%;
        height:auto;
    }
}

@media (orientation: landscape) {
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: block;
        width:100%;
        height:auto;
    }
}



.carousel-inner {
  /* make sure your .items will get correct height */
  height: 100%;
}

.carousel-item {
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}

.carousel-item  img {
  visibility: hidden;
}

.negative-padding {
    margin-left: -20px !important;
    margin-right: -20px !important;
}
.carousel-caption {
  position: static !important;
}

.pagination, .breadcrumb {
  background-color: #fff !important;
}
