.exhibition-cta {
    max-width: 1290px;
    margin: 56px auto;
    display: flex;
    justify-content: space-between;

    & .wrapper {
        max-width: 341px;
        width: 100%;
    }

    &-copy.cta-copy {
        max-width: 297px;
        width: 100%;
    }
}

.exhibition-cta-link {
    display: inline-block;
    margin-top: 28px;
    color: #000;
    text-decoration: underline;
    font-size: 18px;
}

.container.col-max-800.mx-auto.support-text-component.exhibiton-text-compoment {
    max-width: 720px;
    padding-right: 65px;
    width: 100%;
}

.support-text-component h2,
.exhibiton-text-compoment h2.exhibition-text-component-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 36px;
}

.exhibiton-text-compoment p {
    font-size: 17px;
}
