.parallax.exhibition-hero {
    height: 550px;
    background-color: black;
}

.exhibition-hero + .breadcrumbs-su {
    margin: 0;
}

.navbar:has(#global-announcement) + .exhibition-hero + .breadcrumbs-su {
    margin: 0;
}

@media screen and ( min-width: 800px ) {
    .home-hero .addon.rise-up {
        align-items: flex-start;
        margin-top: 200px;
    }
    
    .wrapper.rise-up {
        align-items: flex-end;
    }
}