.quote-component .container {
    margin-block: 40px;
    margin-inline: auto;
    max-inline-size: 800px;
}
.quote-body {
    border-radius: 8px;
    padding: 30px 40px;
}
.quote-body--green {
    background-color: #D6E4B4;
}
.quote-body--sky {
    background-color: #C4F1F5;
}
.quote__image {
    max-inline-size: 50px;
}
.quote-text {
    margin-top: 20px;
}

p.quote-text__quote {
    font-size: 20px;
    font-weight: 500;
}

.quote-text__accreditation {
    font-size: 17px;
    font-weight: 400;
}