.soundcloud-embed-component {
    padding-inline: 1rem;

    .container {
        padding: 0;
    }
}

.soundcloud-embed-component.cookies-rejected {
    .container {
        position: relative;
        z-index: 3;

        p {
            display: block;
            left: 50%;
            padding-inline: rem(20);
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            z-index: 2;
        }

        &:before {
            background: #ccc;
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    }
}
