.getting-here .container {
    margin-block: 30px;
    @media (min-width: 600px) {
        margin-block: 40px;
    }
}
.getting-here__wrap {
    background-color: #E1DFEA;
    padding: 20px;
    @media (min-width: 600px) {
        display: flex;
        gap: 60px;
    }
}

.getting-here__wrap > div {
    @media (min-width: 600px) {
        flex: 1;
    }
}

.getting-here__details {
    margin-top: 1rem;
    h2 {
        font-size: 44px;
        font-weight: bold;
        margin: 0;
    }
    h2 + p:first-of-type {
        margin-top: 20px;
        margin-bottom: 0;
    }
    h2 + p:first-of-type + p {
        margin-top: 8px;
    }
    p.location {
        align-items: center;
        display: flex;

        svg {
            margin-right: 10px;
            margin-top: -4px;
        }
    }
    @media (min-width: 600px) {
        margin-top: 0;
    }
}

.getting-here__accordion {
    padding-top: 20px;
}

.getting-here__accordion-links {
    a {
        display: block;
    }
    a:not(:first-child) {
        margin-top: 20px;
    }
    a:last-child {
        margin-bottom: 28px;
    }
}

.button--black {
    background-color: black;
    color: white;
}

.button--black:hover {
    background-color: lighten(black, 10%);
    color: white;
}