.landing-hero--simple {
    margin-block-start: 63px;
    position: relative;
    z-index: 1;

    h1 {
        color: #fff;
        font-size: 3.75rem;
        font-weight: 500;
        padding: 385px 30px 40px 20px;
        position: relative;
        margin-block: 0;
        margin-inline: auto;
        max-inline-size: 1290px;
        z-index: 1;
        @media (min-width: 756px) {
            padding-bottom: 80px;
        }
        @media (min-width: 1330px) {
            padding-top: 409px;
            padding-left: 0;
        }
    }
}
.landing-hero--simple:after {
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    bottom: 0;
    content: "";
    display: block;
    height: 30%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}
.landing-hero__image {
    bottom: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: -1;
    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}
