.museum-information {
    padding-inline: 0 !important;
    margin: 32px 30px;
}
.museum-information .wrapper {
    max-inline-size: 1290px;
    margin: 0 auto;
    @media (min-width: 1050px) {
        display: flex;
        justify-content: space-between;
    }
}
.information-intro {
    max-inline-size: 700px;
    margin-inline-end: 1.125rem;
    h2 {
        font-size: 2.25rem;
        font-weight: 500;
        margin: 0;
    }
    p {
        margin: 12px 0;
    }
}

.information-hours {

    @media (min-width: 1050px) {
        max-inline-size: 400px;
    }

    h3 {
        font-size: 1.625rem;
        font-weight: 500;
        margin: 0;
        margin-block-start: 1.125rem;

        @media (min-width: 1050px) {
            margin-block-start: 0;
        }
    }
    p {
        font-size: 1.125rem;
    }
}

.hours-listing {
    margin-top: 12px;
}

.hours-item {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.hours-label p {
    font-weight: bold;
}

.information-hours__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    a {
        color: black;
    }
    p {
        margin-bottom: 0;
    }
}

p.tag,
a.tag {
    background-color: #F4F3F0;
    border-radius: 28px;
    color: black;
    font-size: 0.875rem;
    padding: 12px;
    width: fit-content;
}
