@import "_hero";
@import "_museum-information";
@import "_getting-here";
@import "_accordion-section";
@import "_anchor-navigation";
@import "_events-listing";

.fifty-fifty--background {
    background-color: #F4F3F0;
    padding-block: 60px;

    .container h2 {
        font-size: 34px;
    }
}