@import "_hero";
@import "_museum-information";
@import "_getting-here";
@import "_accordion-section";
@import "_anchor-navigation";
@import "_events-listing";

.fifty-fifty--background {
    background-color: #F4F3F0;
    padding-block: 60px;

    .container h2 {
        font-size: 34px;
    }
}

.visit-us-landing .breadcrumb {
    max-inline-size: 1290px;
    margin: 0 auto;
}

.visit-us-landing .support-grid {
    padding-inline: clamp(16px, 5vw, 32px);

    @media (min-width: 1330px) {
        padding-inline: 0;
    }
}

.visit-us-landing .banner-component {
    padding-inline: clamp(16px, 5vw, 32px);

    @media (min-width: 1330px) {
        padding-inline: 0;
    }
    .container.mx-auto.component-ff {
    padding: 0 !important;
    max-width: 1290px;
    width: 100%;
    margin: 0 auto !important;
}
}

.visit-us-landing > div.container-home-cards {
    padding-inline: 30px;
    @media (min-width: 600px) {
        padding-inline: 0;
    }
}
