body {
    font-family: "Roboto", sans-serif;
    background-color: #fbfbfb;
    font-size: 1.125rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.parallax {
    min-height: 65vh;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0 !important;
}

.no-gutters {
    margin-right: -14px !important;
    margin-left: -14px !important;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
    display: none;
}

.visually-hidden--focus {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    z-index: -1;
    opacity: 0;
}
.visually-hidden--focus:focus,
.visually-hidden--focus-visible,
.visually-hidden--focus:focus-within {
    background-color: white;
    border-radius: 5px;
    color: black;
    opacity: 1;
    z-index: 10000;
}
.card-header {
    background-color: white;
}

@media screen and (max-width: 440px) {
    .head {
        padding-top: 100px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .second-parallax-home {
        background-position: center center;
    }

    .parallax-home {
        background-position: center center;
        margin-top: -25px;
    }

    .shout {
        font-size: 2.6rem;
        font-weight: 500;
    }
}

.bg-black {
    background-color: #000000 !important;
}

.bg-fade {
    background-image: linear-gradient(
        to right,
        rgba(255, 0, 0, 0),
        rgb(163, 193, 173)
    );
}

.bg-maroon {
    background-color: maroon !important;
}

h3,
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

.shadow-sm {
    background-color: white;
}

a {
    background-color: transparent;
    color: #731100;
}

article {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

video {
    object-fit: cover;
}

.w3w a {
    color: #000;
}

.share a {
    color: #000;
}

.share li {
    list-style: none;
    margin-left: -31px;
    font-size: 1rem;
}

a.share {
    color: black;
    text-decoration: underline;
}

.share-icons a {
    text-decoration: none;
}

@media (max-width: 440px) {
    .shorten-words {
        max-width: 300px;
        display: inline-block;
    }
}

.audio-player {
    min-height: 60px;
}

@media screen and (min-width: 440px) {
    .shout {
        font-size: 5rem;
        font-weight: 500;
    }
}

.bg-black-opacity {
    background-color: rgba(000, 0, 0, 0.7) !important;
}

.gnw-map.fade {
    transition: opacity 0.15s linear;
}

.gnw-map.fade:not(.show) {
    opacity: 0;
}

#panorama {
    width: 100%;
    height: 500px;
}

#panorama:focus {
    outline: 2px solid #007aff;
    outline-offset: 4px;
    outline-color: #007aff;
}

.floor-plans > li {
    list-style: none;
}

blockquote {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-family: "Libre Baskerville", serif;
    padding: 0 1rem;
    font-weight: 400;
    font-style: italic;
}

@media screen and (max-width: 440px) {
    li.page-item {
        display: none;
    }

    .page-item:first-child,
    .page-item:last-child,
    .page-item.active {
        display: block;
    }
}

.card,
.shadow-sm {
    box-shadow: none !important;
}

.map {
    min-height: 400px;
    max-height: 400px;
}

input#query {
    background-color: #ffffff;
    color: #000000;
}

input#query::placeholder {
    color: #000;
}

.search-results {
    min-height: 200px;
}

.popover {
    background: black;
    color: white;
    font-size: 1.3rem;
    max-width: 100%;
}

figcaption.figure-caption.text-right {
    font-size: 1rem;
}

.text-muted {
    color: rgba(0, 0, 0, 0.85) !important;
}

img.img-fluid.twitter {
    object-fit: cover;
    width: 308px;
    height: 308px;
}

.container-fluid.remove {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media only screen and (max-width: 1024px) {
    .head,
    .parallax {
        background-attachment: scroll !important;
    }
}

@media only screen and (max-width: 768px) {
    .head,
    .parallax {
        background-attachment: scroll !important;
    }
}

.negative-padding {
    margin-left: -20px !important;
    margin-right: -20px !important;
}

.col-md-6.mb-3.mt-3.mx-auto.d-block.book {
    margin-top: 100px !important;
}

h2 > a,
h3 > a,
h5 > a {
    position: relative;
    color: #000;
    text-decoration: none !important;
}

h2 > a:hover,
h3 > a:hover,
h5 > a:hover {
    color: #000;
}

h2 > a::before,
h3 > a::before,
h5 > a::before,
a.free_ticket::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover::before,
h3 > a:hover::before,
h5 > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.open-link a {
    color: #fff;
}

.btn-circle.btn-xl {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 0.75rem;
    text-align: center;
}

.form-control {
    border-radius: 0;
}

.free_ticket a {
    color: #fff !important;
}

.page-link {
    border: none !important;
    color: #000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 1rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.free_ticket {
    position: relative;
    color: #fff;
    text-decoration: underline !important;
}

a.free_ticket:hover {
    color: #fff;
}

a.free_ticket:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

a.free_ticket {
    color: #fff !important;
}

.twitter__thumbnail {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.twitter__thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.twitter__thumbnail img.portrait {
    width: 100%;
    height: auto;
}

img.results_image__thumbnail {
    width: 100%;
    object-fit: cover;
}

.insta-wrap {
    word-break: break-all;
}

.collections li {
    list-style: square;
}

.libsyn {
    min-height: 90px !important;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}

.btn-sign {
    position: relative;
}

.btn-sign-text {
    color: #000;
    text-align: center;
    vertical-align: middle;
    position: relative;
    padding: 20px 30px;
}

.btn-sign-box {
    transition: all 1s;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px !important;
}

.btn-sign:hover .btn-sign-box {
    background-color: #d3d3d3;
    width: 100%;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    top: auto;
}

@media (max-width: 992px) {
    .wrapper {
        width: 100%;
    }
}

.panel-heading {
    background-color: white;
}

.panel-title > a,
.panel-title > a:active {
    display: block;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.panel-heading a:before {
    content: "+";
    font-weight: 900;
    float: right;
    transition: all 0.9s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

li.nav-item.active {
    border-bottom: solid 5px #fff !important;
}

a.nav-link {
    color: hsla(0, 0%, 100%, 0.5);
    background-color: transparent;
}

.form-check__event-types {
    padding-left: 0;
}

.bg-gdbo {
    background-color: #e0ebe2;
}

.bg-grey {
    background-color: #97816224;
}

.bg-pastel {
    background-color: #9cc2cb24;
}

.card-fitz,
.carousel-item,
.card {
    border: 0 !important;
}

.card-fitz:hover {
    opacity: 0.8;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    background: #fff;
    box-shadow: 0 15px 26px rgba(0, 0, 0, 0.5);
    /*box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);*/
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.alert__jobs {
    border-radius: 0;
    margin-bottom: 0;
}

a.text-center.btn.btn-outline-light.btn__book {
    border: 4px solid white;
}

.copyright {
    position: relative;
}

.copyright-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

.hockney-title {
    font-size: 3.3rem;
}

.hockney-subtitle {
    font-size: 1.4rem;
}

.hockney-dates {
    font-size: 1.2rem;
}

.hockney_sub {
    margin-left: -30px;
    margin-right: -30px;
}

.hockney_header {
    min-height: 40vh;
    background-color: #2a9941;
}

.ttn_header {
    min-height: 40vh;
    background-color: #8695be;
}

.hockney_top_banner {
    min-height: 40vh;
    margin-top: 60px;
    background-color: #179d41;
}

.ttn_top_banner {
    min-height: 40vh;
    margin-top: 60px;
    background-color: #8695be;
}

.ttn_top_banner__home {
    min-height: 40vh;
    background-color: #8695be;
}

.hockney__link a {
    text-decoration: none;
    color: white;
}

.hockney__link a:hover,
.hockney__link a:visited,
.hockney__link a:focus {
    text-decoration: none;
    color: white;
}

.hockney__link {
    min-height: 400px;
    background: url("https://fitz-cms-images.s3.eu-west-2.amazonaws.com/banner-text-hockney.jpg")
        no-repeat center;
    background-size: contain;
}

.ttn__link {
    min-height: 400px;
    background: url("https://fitz-cms-images.s3.eu-west-2.amazonaws.com/ttn_right_panel.jpg")
        no-repeat center;
    background-size: contain;
}

.hockney__link__href {
    display: block;
    height: 100%;
    width: 100%;
}

.carousel-caption {
    position: initial;
}

.carousel-control-prev,
.carousel-control-next {
    color: black;
}

.btn-hockney {
    color: #fff;
    background-color: #299942;
    border-color: #299942;
}

.btn-hockney:hover {
    color: #fff;
    background-color: #299942;
    border-color: #299942;
}

.btn-hockney:focus,
.btn-hockney.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 90, 90, 0.5);
}

.btn-hockney.disabled,
.btn-hockney:disabled {
    color: #fff;
    background-color: #299942;
    border-color: #299942;
}

.btn-hockney:not(:disabled):not(.disabled):active,
.btn-hockney:not(:disabled):not(.disabled).active,
.show > .btn-hockney.dropdown-toggle {
    color: #fff;
    background-color: #299942;
    border-color: #299942;
}

.btn-hockney:not(:disabled):not(.disabled):active:focus,
.btn-hockney:not(:disabled):not(.disabled).active:focus,
.show > .btn-hockney.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 90, 90, 0.5);
}

.star_rating {
    font-size: 1.5rem;
}

.star_rating__color {
    color: #299942;
}

.btn-ttn {
    color: #fff;
    background-color: #8695be;
    border-color: #8695be;
}

.btn-ttn:hover {
    color: #fff;
    background-color: #8695be;
    border-color: #8695be;
}

.btn-ttn:focus,
.btn-ttn.focus {
    box-shadow: 0 0 0 0.2rem rgb(126, 143, 187);
}

.btn-ttn.disabled,
.btn-ttn:disabled {
    color: #fff;
    background-color: #8695be;
    border-color: #8695be;
}

.btn-ttn:not(:disabled):not(.disabled):active,
.btn-ttn:not(:disabled):not(.disabled).active,
.show > .btn-ttn.dropdown-toggle {
    color: #fff;
    background-color: #8695be;
    border-color: #8695be;
}

.btn-ttn:not(:disabled):not(.disabled):active:focus,
.btn-ttn:not(:disabled):not(.disabled).active:focus,
.show > .btn-ttn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(119, 138, 184);
}

.footer__info {
    width: 330px;
}

.eden {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(100deg)
        brightness(100%) contrast(100%);
}

/* .card-img-top {
    height: 100% !important;
} */

.p-heading {
    font-weight: 500;
}

.p-container .card {
    width: 100%;
}

.p-container--joint figure,
.p-container--single figure {
    margin: 1rem 0 !important;
}

.p-image {
    margin: 0 auto;
    object-fit: cover;
    min-height: 100%;
}

.btn-credit,
.btn-direct {
    margin-top: 16px;
    font-size: 1.15rem;
    padding: 18px 36px;
}

.btn-direct:focus {
    background: #299942;
    color: #fff;
}

@media screen and (min-width: 993px) {
    .btn-credit,
    .btn-direct {
        margin: 0 auto;
        max-width: 85%;
        width: 100%;
    }
}

.home-hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    isolation: isolate;
    z-index: 100;
}

.parallax {
    height: 688px;
}

.parallax-home {
    min-height: 0;
    height: 280px;
}

.home-hero .bg-overlay {
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 10%,
        transparent
    );
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 101;
    display: flex;
}

.home-hero .addon {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    z-index: 102;
    max-width: 1320px;
    padding: 0 16px 72px 16px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
    gap: 180px;
    line-height: normal;
}

@media (max-width: 768px) {
    .home-hero .addon {
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 0 16px 32px 16px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1290px;
    }
}

.home-hero .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-hero .wrapper h1 {
    color: #fff;
    font-size: 2.75rem;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .home-hero .wrapper h1 {
        font-size: 5rem;
    }
}

.home-hero .wrapper p {
    font-size: 1.5rem;
    font-weight: 500;
}

.home-hero .wrapper p:last-of-type {
    margin-bottom: 0;
}

.home-hero .hero-cta {
    white-space: nowrap;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    padding: 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    background: white;
    color: #000;
    border: none;
    border-radius: 4px;
}

.home-hero .hero-cta a {
    color: #000;
}

.container-home-cards {
    padding: 20px 16px 30px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 1fr;
    grid-gap: 18px;
    grid-auto-columns: 33.3333%;
}

.container-home-card {
    max-width: 650px;
    width: 100%;
}

[data-component="card"]:hover {
    cursor: pointer;
}

.container-home-cards h3 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-weight: 500;
}

.container-home-cards .row-home {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 10px;
}

.container-home-cards h2 a {
    font-size: 1.25rem;
    font-weight: 500;
    display: inline-block;
}

.container-home-cards h3 a {
    font-size: 1.25rem;
    font-weight: 500;
    display: inline-block;
}

.container-home-card .card-image {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 42.59%;
}

.container-home-card .card-image img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.acknowledgement-notice {
    position: relative;
    margin-bottom: 2rem;
}

.acknowledgement-notice .wrapper {
    max-width: 840px;
    width: 100%;
    font-weight: 400;
    line-height: 1.5625rem;
    padding-left: 2.56rem;
}

.acknowledgement-notice h2 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
}

.acknowledgement-notice p {
    margin: 0;
}

.acknowledgement-notice::after {
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    width: 8px;
    height: 100%;
    background: #b50e5e;
    display: block;
}

.acknowledgement-collection-form {
    padding: 1.25rem 1rem 1rem 1rem;
}

.acknowledgement-collection-form .row {
    flex-direction: column;
}

@media screen and (min-width: 756px) {
    .acknowledgement-collection-form .row {
        flex-direction: row;
    }
}

.acknowledgement-highlights-form {
    padding: 1.25rem 1rem;
    margin-bottom: 2rem;
}

.acknowledgement-collection-form label[for="collection-query"],
.acknowledgement-highlights-form label[for="highlights-query"] {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.acknowledgement-highlights-form .form-field {
    display: flex;
}

.acknowledgement-highlights-form fieldset {
    border: 0;
}

.bg-white-subscribe {
    padding: 28px 16px 24px;
}

.container-subscribre {
    max-width: 1290px;
    background-color: #b50e5e !important;
    border-radius: 4px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
}

.container-subscribre .wrapper h5 {
    font-size: 1.5rem;
    font-weight: 500;
}

.container-subscribre .wrapper p {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
}

.container-subscribre .subscribre-button {
    margin-top: 8px;
    margin-right: auto;
    padding: 16px;
    background: black;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 4px;
    font-size: 1.25rem;
    font-weight: 500;
    white-space: nowrap;
}

.container-subscribre .subscribre-button svg {
    margin-right: 8px;
}

@media screen and (min-width: 756px) {
    .container-subscribre {
        flex-direction: row;
        align-items: center;
    }

    .container-subscribre .subscribre-button {
        margin-top: 0;
        margin-left: auto;
        margin-right: 0;
    }
}

.breadcrumb {
    margin-bottom: 0;
}

.shout.lead {
    font-size: 3.25rem;
    margin-top: 40px;
}
.main-footer {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 1024px) {
    .footer-wrapper {
        max-width: 1322px;
        width: 100%;
        margin: 0 auto;
    }
}

.fitz-footer .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 225px));
    padding: 0 16px 24px 16px;
    justify-content: space-between;
}

.fitz-footer-links .footer-wrapper {
    padding: 16px;
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr;
    grid-gap: 16px;
}

.footer-wrapper > * {
    overflow-wrap: anywhere;
}

@media screen and (min-width: 756px) {
    .fitz-footer-links .footer-wrapper {
            grid-template-columns: repeat(auto-fit, minmax(auto, 315px));
            justify-content: space-around;

    }
}

.exhibition .card-header,
.exhibition .card,
.exhibition .card:hover,
.support .card-header,
.support .card,
.support .card:hover {
    background: transparent;
}

.col-max-800 {
    max-width: 800px;
    margin: 56px auto;
}

@media screen and (min-width: 1000px) {
    .col-max-800 {
        padding-right: 0;
        padding-left: 0;
    }
}

.archived-btn {
    background:  #EEF3F4;
    color: #000;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 24px;
}
.collection-carousel button.carousel-control-prev,
.collection-carousel button.carousel-control-next {
    position: absolute;
    transform: translate(-50%, 5%);
    border: none;
    width: 48px;
    height: 48px;
    opacity: 1;

}
.collection-carousel button.carousel-control-prev {
    background: #000;
    transform: translateX(10px);
    top: 35%;
    left: -5%;
}
.collection-carousel button.carousel-control-prev svg {
    transform: rotate(-90deg);
}

.collection-carousel button.carousel-control-next svg {
    transform: rotate(90deg);
}

.collection-carousel .carousel-control-prev:hover,
.collection-carousel .carousel-control-prev:focus {
    background: #000;
}

.collection-carousel .carousel-control-prev:focus {
    outline: 2px solid #007aff;
}

.collection-carousel button.carousel-control-next {
    background: #000;
    transform: translateX(-10px);
    top: 35%;
    right: -5%;
}

.collection-carousel .carousel-control-next:hover,
.collection-carousel .carousel-control-next:focus {
    background: #000;
}

.collection-carousel .carousel-control-next:focus {
    outline: 2px solid #007aff;
}

.exhibition .collection-carousel {
    /* margin: 56px 0; */
}
