/* breadcrumbs start */
.navbar ~ .breadcrumbs-su {
    margin: 88px 0 0 0;
}

.navbar:has(#global-announcement) ~ .breadcrumbs-su {
    margin: 130px 0 0 0;
}

.navbar + .hero-su-parallax + .breadcrumbs-su,
.navbar:has(#global-announcement) + .hero-su-parallax + .breadcrumbs-su {
    margin: 0;
}

.breadcrumbs-su {
    padding: 0;
}

.breadcrumbs-su ol.breadcrumb {
    margin: 0;
    padding: 6px 0;
}

.container-breadcrumb {
    max-width: 1290px;
    margin: 0 auto;
}

.container-breadcrumb div ol {
    margin-bottom: 0;
}

li.breadcrumb-item + .breadcrumb-item::before {
    border-color: var(--bs-body-color);
    border-style: solid;
    border-width: 4px 4px 0 0;
    content: '';
    display: block;
    float: left;
    height: 12px;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    position: relative;
    transform: rotate(45deg) scale(45%);
    width: 12px;
    left: -5px;
    top: 10px;
}


/* breadcrumbs end */
