/* featured-image-component start*/
.featured_image.container,
.featured_image {
    max-width: 800px;
    width: 100%;
    margin: 56px auto;
    padding: 0 16px;
    aspect-ratio: 16/9;
    @media screen and (min-width: 1320px) {
        padding: 0;
    }
}

.featured_image img {
    max-height: 581px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 18px;
}

.featured_image figcaption {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 auto 0 0;
}

/* featured-image-component end */
