/* featured-video-component start */
.featured_video.container,
.featured_video {
    max-width: 800px;
    width: 100%;
    margin: 56px auto;

    @media screen and (min-width: 1320px) {
        padding: 0;
    }
}

/* featured-video-component end */
