/* support-grid start */
.support-grid {
    margin: 60px auto;
}

@media screen and (min-width: 576px) {
    .container.support-grid {
        max-width: 100%;
    }
}

@media screen and (min-width: 1400px) {
    .container.support-grid {
        max-width: 1290px;
    }
}

.support-grid-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 24px;
}

/* support-grid end */

/* support-grid-card start */
.card-fitz-support {
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        max-width: 406px;
    }
}

.card-img-top-support {
    max-height: 342px;
    height: 100%;
    object-fit: cover;
}

.container-support-cards {
    margin: 60px auto;
    padding: 0 12px;
}

.container-support-card .card-image {
    min-height: 267px;
}

.container-support-card .card-image .card-img-top {
    height: 100%;
    object-fit: cover;
}

.container-support-card .card-body {
    padding-left: 0;
}

.container-support-card .card-body .contents-label {
    padding: 16px 20px 32px 0;
}

.container-support-card .card .card-body .contents-label p.text-dark {
    font-size: 18px;
}

.card-fitz-support .card-body .contents-label h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

/* support-grid-card end */
