/* hero-image start */
.parallax,
.parallax.hero-su-parallax {
    min-height: 0;
    height: 638px;
    background: url("https://s3-alpha-sig.figma.com/img/f030/8039/d7f6fd7765af49cd451a48a2d107d67e?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gE767HYzWc~kgVHpLCzaGilofYpH51o8lg2o4WsbsBbTCDuVr7VQ68BjG4U7CSlo2MwQCxCqUkc5fDADggIixwv3y9FmjihnFRFb35txoIbymKonvxXzv55Ci1nRXCSOr-icD9IqXQgIst5Isd9-oQYNVA53yL6at7REiTOMWPCn8WEUgfSg4UETG2wlP52m9ZdOm8HdEm-~JBzoEfESxB7bE5uz8Fji-ZGdOlNa5HfIfBsl4v0enVJ39tgaj81rJGP8JSLYCt5sQfv5QyD~mrHhDtx6ECIUgk0mFKA6~a-ZdGlBpae~Xeb5z4GnamCYkh2fWGV1RsTvlr99GUMj4Q__") no-repeat 50% 45% / cover;
}

/* hero-image end  */

/* hero-title start */
.hero-su {
    margin: 60px 0;
}

.hero-su .shout.lead {
    font-size: 60px;
    font-weight: 500;
}

.hero-su p {
    font-size: 24px;
    font-weight: 400;
}

/* hero-title end */

/* hero-secondary start */
.hero-su-secondary {
    text-align: left;
    margin-bottom: 60px;
}

.hero-su-secondary h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 12px;
}

.hero-su-secondary p {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}

/* hero-secondary end */
