.image-gallery {
  background-color: #f4f3f0;
  text-align: center;
  padding: 50px 0;
  h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    padding: 0 0 22px;
  }
}

.splide {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  overflow: visible;
}

.splide__track {
  overflow: hidden;
}

.splide__slide {
  align-self: center;
  justify-content: center;
  transition: transform 400ms ease;
  transform: scale(0.7);
  transform-origin: center center;
}

.splide__slide.is-active {
  transform: scale(1);
}

.splide__slide img {
  display: block;
  width: 100%;
}

.splide__arrow {
  background: rgba(0, 0, 0, 0.8);
  width: 40px;
  height: 40px;
  border-radius: 0;

  svg {
    height: auto;
    width: auto;
  }
}

.image-gallery .collection-carousel button.splide__arrow {
  border-radius: 0;
  svg {
    height: auto;
    width: auto;
  }
}

.image-gallery .collection-carousel button.carousel-control-prev {
  top: 50%;
  left: 0;
  @media (min-width: 1290px) {
    left: -45px;
  }
}
.image-gallery .collection-carousel button.carousel-control-next {
  top: 50%;
  right: 0;
  @media (min-width: 1290px) {
    right: -45px;
  }
}
