/* list-component start */
.component-list {
    padding: 12px;
    margin: 56px auto;
}

.component-list,
.component-list.col-max-800,
.support-text-component {
    margin: 56px auto;
}

.component-list .list-title {
    font-size: 26px;
    font-weight: 500;
}

.component-list .item {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}

/* list-component end */
