/* navigation start  */
.nav {
    height: 88px;
}
.navbar {
    padding: 0.7rem 0;
}
.navbar .container-fluid {
    max-width: 1290px;
    padding: 0 12px;
    height: 100%;

    @media screen and (min-width: 1290px) {
        padding: 0;
    }
}

.navbar:has(#global-announcement) .container-fluid {
    padding-top: 8px;
    @media screen and (min-width: 1290px) {
        padding-top: 8px;
    }
}

@media screen and (min-width: 992px) {
    .collapse.navbar-collapse {
        justify-content: center;
    }
}

#search-donate-container {
    margin-left: auto;
    opacity: 0;
    align-self: stretch;
    margin-top: -8px;
    margin-bottom: -8px;
    display: flex;
    gap: 20px;
    align-items: baseline;
    transition: opacity 3s linear;
}

#search-donate-container a.nav-link,
#search-donate-container a.nav-link:hover,
#search-donate-container a.nav-link:focus {
    color: white;
}

@media screen and (min-width: 992px) {
    #search-donate-container {
        padding-right: 0;
    }
}

.nav-link-donate {
    background: #b50e5e;
    color: white;
    display: inline-flex;
    align-items: center;
    height: 108%;
    padding: 0 28px;
    margin: -4px 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

/* navigation end */
